<div id='header'>
  <div id='home'>
    <a class='avatar nl' href='{{ relURL "/" }}' title='This is me, kinda.'>
      <picture>
        <source type='image/webp' srcset='{{ relURL "/animation_avatar(2).webp" }}' />
        <img alt='Avatar' src='{{ relURL "/animation_avatar(2).PNG" }}' width="100px" />
      </picture>
    </a>

    <div>
      <p class='name'>
        <a class='nl' href='{{ relURL "/" }}'>Nguyen Cung Thanh</a>
      </p>
      <p class='lg'>
        known as <span title='My handle has nothing to do with hacking!'>@ThanhK56MathHsgs</span>
      </p>
    </div>
  </div>

  <a href='{{ relURL "/contact/" }}' class='button contact-header-btn'>📩 Contact</a>

  <form action='{{ relURL "/search/" }}' method='get' class='inline-form'>
    <input type='text' placeholder='Search…' id='query' name='query' />
    <button alt='Search'>🔎</button>
  </form>
</div>

<input type='checkbox' id='toggler' hidden="hidden" />
<nav id='navbar'>
  <label for='toggler'>👀 Menu</label>
  {{ range .Site.Menus.main -}}
  <a href='{{ if .Page }}{{ .Page.RelPermalink }}{{ else }}{{ .URL }}{{ end }}' class='nl' {{ if $.IsMenuCurrent .Menu .
    }} aria-current='page' {{ end }}>{{ .Name }}</a>
  {{ end }}
</nav>