<!DOCTYPE html>
<html lang='{{ .Site.Language }}'>
<head>
  {{ partial "base/head" . }}
  {{ partial "mathjax.html" . }}
</head>
<body>
  {{ partialCached "assets/js.html" . }}

  <a href="#main" id='skip-to-content'>Skip to content</a>
  <div class='container'>
    {{ partial "base/header" . }}
    <main id='main'>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partialCached "base/footer" . }}
  </div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts/fonts.css">
</body>
</html>
