/* List in Latex style
\begin{itemize} 
\item[i)]
\end{itemize}
*/
.roman-paren {
  list-style-type: lower-roman;
}

.roman-paren li::marker {
  content: counter(list-item, lower-roman) ") ";
}

a {
  color: gray;
  text-decoration: underline;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  cursor: pointer;
}