#resume-header {
  display: none;
  grid-template-columns: 4.5rem auto max-content;
  grid-gap: .5rem;
  border-bottom: 1px dashed var(--c);
  padding-bottom: 1rem;
  align-items: center;
}

#resume-header div p:first-of-type {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
}

#resume-header ul {
  list-style: none;
  text-align: right;
}

#resume-header * {
  margin: 0;
  padding: 0;
}

.resume-position > div {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-gap: 0 var(--hms);
  align-items: baseline;
  margin: var(--hls) 0 var(--hms);
}

.resume-position h4 {
  margin: 0;
  text-transform: none;
}

.resume-position > div a {
  font-weight: 600;
  color: var(--c);
}

.resume-position ul {
  margin-top: var(--hms);
}

@media screen and (max-width: 53rem) {
  .resume-position > div {
    grid-template-columns: auto max-content;
  }

  .resume-position > div a {
    grid-row-start: 2;
  }
}

#printing-hint {
    padding: 13px;
    background-color: #f0f7ff;
    border: 1px solid #0056b3;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #002d5e;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

#printing-hint a {
    color: #0056b3;
    font-weight: bold;
    text-decoration: underline;
}

@media print {
  #printing-hint {
    display: none !important;
  }
  
  :root {
    --text: #000;
    --light-text: #555555;
  }
  h2 {
    border-bottom: 1px solid #ccc;
    margin: 1rem 0 0.5rem;
  }
}

@page {
  margin: 1cm;
}
